.ui.bound.bottom.sticky {
    position: fixed;
    top: 0 !important;
    bottom: auto !important;
}

.breadcrumb-text {
    text-transform: capitalize;
}

.results.transition.visible {
    max-height: calc(90vh - 10rem);
    overflow: auto;
}