.ui.black.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui.black.button:hover, .ui.black.buttons .button:hover {
    text-shadow: none;
    background: #fff !important;
    color: rgba(0,0,0,.8) !important;
}

.homepage-images {
    isolation: isolate;
    position: relative;
}

.homepage-images::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    opacity: 0.3;
} 

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ui.grid {
    margin: 0 !important;
    
    .row {
        padding-top:  0 !important;
        padding-bottom:  0 !important;
    }
}